nav.top-nav{
    background-color:palevioletred;
    position: fixed;
    color:lightgreen;
    top: 0px;
    right: 0px;
    left:0px;
    box-shadow: 0px 4px 4px blue;
}
nav [aria-current=page] {
    background-color: #bbb;
    color:#000;
    border-bottom: .25em solid;
}
nav.top-nav li{
    display: inline-block;
    font-family:sans-serif;
    font-weight: bold;
    margin: 5px;
    user-select: none;
}
nav.top-nav li:hover{
    text-decoration: underline;
}
nav.top-nav ul{
    list-style:none;
}
nav.top-nav .pulldown-menu li{
    display:block;
}
nav.top-nav .pulldown-menu{
    display: none;
    position:absolute;
    border: 1px solid white;
    background-color:white;
}
nav.top-nav li:hover .pulldown-menu{
    display:block;
}
body{
    background-color:lightpink;
}
.projects-album-wrapper {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 600px 600px;
}

.projects-album-art {
    margin-left: 50px;
    margin-right: 100px;
    height:500px;
    width:500px;
}

.projects-album-name {
    text-align: center;
    margin-block-start:10px;
    margin-block-end:5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blue;
}
main{
    margin-top:100px;
}
.info{
    padding: 10px;
    border: 2px solid red;
    width: 400px;
    margin: auto;
}
.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height:400px;
    width:300px;
}

.bio{
    padding: 10px;
    border: 2px solid red;
    width: 600px;
    margin: auto;
}

.contact{
    padding: 10px;
    border: 2px solid red;
    width: 600px;
    margin: auto;
}